:root {
    --bg: #000;
}

.ui-datepicker {
    background: #ffffff;
    border-radius: 15px;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: var(--bg);
    margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #333333;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 24px;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: var(--bg);
    margin-bottom: 5px;
    font-size: 18px;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #333333;
    line-height: 40px;
    font-size: 16px;
}

.ui-state-default:hover {
    color: #ffffff;
    background: var(--bg);
    border-radius: 50px;
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}

.ui-state-highlight {
    color: #ffffff;
    background-color: var(--bg);
    border-radius: 50px;
}


.ui-state-active {
    color: #ffffff;
    background-color: var(--bg);
    border-radius: 50px;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}


.ui-datepicker-month {
    margin-right: 5px;
}

.ui-datepicker-year {
    margin-left: 5px;
}


.ui-datepicker-buttonpane button {
    background: white;
    border: 0px;
    font-weight: 600;
    margin: 10px 5px;
    padding: 5px 12px;
    font-size: 14px;
    text-transform: uppercase;
   
    &[data-handler="today"]:hover,
    &[data-handler="today"]:active {
        opacity: 1;
        color: #4f4f4f;
    }
    
    &[data-handler="hide"]:hover,
    &[data-handler="hide"]:active {
        color: red;
    }
}